.Home {
    text-align: center;
}
  
.logo {
    height: 40vmin;
    pointer-events: none;
}

.Home header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-group {
    display: flex;
    gap: 24px;
    margin-right: 24px;
}