.Join {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Join header {
    font-size: 24px;
    margin-bottom: 24px;
}

.Join form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.Join form input {
    width: 240px;
}
