.Home {
    text-align: center;
}
  
.logo {
    height: 40vmin;
    pointer-events: none;
}

header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 12px;
    background-color: white;
    margin-right: 24px;
}