.Main .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    width: 90%;
}

.Main .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Main header {
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 36px;
}

.CreateChatRoom {
    width: 340px;
}

.CreateChatRoom .content {
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: gray;
} 

.CreateChatRoom .ant-card-body {
    display: flex;
    height: 100%;
    justify-content: center;
}