.CreateChat {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CreateChat header {
    font-size: 24px;
    margin-bottom: 24px;
}

.CreateChat form {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    gap: 12px;
}

.CreateChat form input {
    width: 100%;
}